.box_head{
    width: 100%; 
    height:180px; background:url(../images/17759bd2d61eb97e992642f79a15ddabd015d0dc.png@.webp)center center no-repeat;
}
.fixed{
    width: 60px;
    position: fixed;
    right:100px;
    top: 185px;
    background: #d9d2d2;
    border-radius: 5px;
}
.fixed li{
    padding: 10px;
    text-align: center;
}
.fixed li:hover{
    background: blue;
}
.fixed li a{
    color: #000000;
    text-decoration: none;
}
.fixed li a:hover{
    color: #ffffff;
}
.bj_head{
    width: 100%;
    height: 42px;
    background:rgba(0,0,0,0.5);
}
.left .lis{
    overflow: hidden;
    height: 42px;
}
.left .ds{
/*    display: block;*/
    float: left;
    width: 18px;
    height: 16px;
    margin-right:5px;
/*    margin-left: 5px;*/
    margin-top: 14px;
   background:url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png) -854px -88px no-repeat;
}
.bj_head .left{
    margin-left: 200px;
/*    overflow: hidden;*/
}
.left li{
    float: left;
    height: 42px;
    padding:0 10px;
    line-height: 42px;
    list-style: none;  
}
.left li a{
    color: #ffffff;
/*    margin-left: 10px;*/
    text-decoration: none;
}
.left li:hover{
    background: rgba(255,255,255,0.5);
}

.bj_head .right{
     margin-right: 200px;
}
.right li{
    float: right;
    height:42px;
    padding:0 10px;
    line-height: 42px;
    list-style: none;
}
.right li a{
    color: #ffffff ;
    text-decoration: none;
}
.right li:hover{
    background: rgba(255,255,255,0.5); 
} 
.shuxian:after{
    content: "";
    display: block;
    width: 0;
    height: 12px;
    border: 1px solid #ffffff;
    float: right;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: -10px;
    
}
.tg{
/*    width:58px ;*/
    height:48px !important;
    padding:0 15px !important;
    background: red !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}   
.tg:hover{
/*    margin: 0 auto;*/
     background: rgba(255,255,255,0.5)!important; 
}
.bj_body{
    width: 100%;
/*    height: 138px;*/
    overflow: hidden;
}
.bili{
    float: left;
    margin-left: 320px;
    margin-top: 18px;
}
.search{
    float: right;
    width: 344px;
    height: 32px;
    border: 1px solid gray;
    margin-right: 250px;
    margin-top: 80px;
    border-radius: 3px;
}
.search .left{
    width: 70px;
    height: 32px;
    float: left;
    border: 1px solid gray;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;
}
.left .ll{
    float: left;
    width: 30px;
    height: 26px;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png) -654px -658px no-repeat;
    margin-top:4px;
        
}
.left .lr{
    float: left;
    color: #dd3d74;
    font-size: 12px;
    text-decoration: none;
    margin-top:3px;
    text-align: center;
    line-height: 26px;
}
.left:hover{
    background:#ffffff;
}
.search .right{
    float:left;
    width: 270px;
    height: 32px;
    border:1px solid gray;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;
}
.right .rr{
    float: right;
    width: 30px;
    height: 25px;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png) -656px -720px no-repeat;
}
.right input{
    border: none;
/*    border-style: none;*/
    margin-top:8px;
    margin-left: 10px;
    background: rgba(255,255,255,0);
}
input:focus{
    outline: none;
}
#box_body{
    width: 1200px;
    margin: 0 auto;
}
.dhl{
    overflow: hidden;
    margin-top: 10px;
}
.dhl li{
    float: left; 
/*    padding: 0 1px;*/
    margin-left: 30px;
/*    border-radius: 3px;*/
    list-style: none;
}
.dhl li .numb{
    color: #ffffff;
    background: pink;
    text-align: center;
    border-radius: 3px;
    font-size: 12px;
    margin-bottom: 8px;
}
.dhl li a{
    text-decoration: none;
}
.dhl li .hz{
    color: #000000;
    font-size: 14px; 
}
.dhl li .tt{
    float: left;
    color: #000000;
    font-size: 16px;
    margin-top: 8px; 
}
.dhl li .tt:hover{
    color: blue;
}
.dhl .home{
    float: left;
    width: 25px;
    height: 25px;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png) -655px -1172px no-repeat;
    margin-left: -1px;
    margin-top:-4px;
}

.dhl .gct{
    float: left;
    width: 23px;
    height: 27px;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png) -658px -911px no-repeat;  
}
.dhl .zbt{
    float: left;
    width: 19px;
    height: 18px;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png) -662px -533px no-repeat;
    margin-top: 7px;
}
.dhl .xhwt{
    float: left;
    width: 23px;
    height: 24px;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png) -724px -529px no-repeat;
    margin-top: 4px;
}
img{
/*    float: left;*/
    margin-top:-10px;
}
.box_2 {
    overflow: hidden;
}
.box_2 ul img{
    float: left;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 23px;
}
.box_2 li{
    list-style: none;
/*    overflow: hidden;*/
}
.box_2 ul img:hover{
    background: rgba(0,0,0,0.5);
}
.box_3{
    overflow: hidden;
}
.box_3 .b3_l{
    float: left;
/*    overflow: hidden;*/
}
.b3_l .b3_ls{
    overflow: hidden;
}
.tuigt{
    float: left;
    width: 43px;
    height: 44px;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png)-136px -74px no-repeat;
    margin-left: 10px;
    margin-top: 10px;
}
.tguang{
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    font-size: 24px;
    font-weight: 700;
    font-family: "宋体";
}
.sy{
    color:gray;
    float: left;
    margin-left: 50px;
    font-size: 12px;
    margin-top:30px; 
    text-decoration: none;
}
.sy:hover{
    color: blue;
}
.b3_lx{
    overflow: hidden;
}
.b3_lx a{
    float:left;
}
.b3_lx a img{
    margin-bottom: 10px;
    border-radius: 5px;
/*
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
*/
}
.b3_lx a .zz{
    color: #000000;
    font-size: 14px;
/*    text-decoration: none;*/
}
.b3_lx a{
    float: left;
    width: 160px;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 30px;
    
}
.b3_lx a .zz:hover{
    color: blue;
}

.b3_r{
    float:right;
}
.b3_r .b3_rs{
    overflow: hidden;
    width: 260px;
    height: 34px;
    background: #c1b8b8;
    border-radius: 3px;
    margin-top: 20px;
    padding: 0 6px; 
}
.b3_r a{
    float: right; 
    color: #6d757a;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    line-height: 34px;
}
.b3_r .zaix{
    float: left;
}
.b3_r .zuix{
    float: right;
}
.b3_r a:hover{
    color: blue;
}
.b3_r em{
    float: left;
    color: #6d757a;
/*    border-left: 1px solid #6d757a;*/
    margin: 8px  5px;
    font-style: normal;
}
.b3_r .b3_rx{
    overflow: hidden;
}
.b3_r .b3_rx img{
    float: right;
    margin-top: 20px;
    width: 270px;
    height: 140px;
    border-radius: 5px;
}
.box_4{
    overflow: hidden;
}
.b4_l{
    float: left;
}
.b4_ls{
    overflow: hidden;
}
.zhibotu{
    float: left;
    width:43px ;
    height:35px ;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png) -136px -654px no-repeat;
    margin-top:50px;
    margin-left: 10px;
}
.b4_ls .zzzb{
    float: left;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    font-family: "宋体";
    text-decoration: none;
    margin-left: 15px;
    margin-top: 60px;
}
.b4_ls .zzzb:hover{
    color: blue;
}
.b4_ls .sp_zb{
    float: left;
    color: gray;
    font-size:12px;
    margin-left: 30px;
    margin-top: 70px;
}
.b4_ls .sp_t{
    float: left;
    width:17px ;
    height:18px ;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png)-662px -1109px no-repeat;
    margin-top:65px;
    margin-left: 30px;
} 
.b4_ls  .a1{
    float: left;
    color: gray;
    font-size:12px;
    text-decoration: none;
    margin-top: 70px;
    margin-left: 5px; 
}
.b4_ls .sp_dt{
    float: left;
    width: 130px;
    height: 24px;
    border: 1px solid gray;
    background:#ffffff;
    border-radius: 5px;
    margin-left: 180px;
    margin-top: 60px;
}
.sp_dt .a2{
    float: left;
    width: 13px;
    height: 13px;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png)-474px -89px no-repeat;
    margin-left: 10px;
    margin-top: 7px;
}
.sp_dt .a3{
    float: left;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    margin-left: 10px;
    text-align: center;
    line-height: 24px;
}
.sp_dt:hover{
    background: #b9b6b6;
}
.b4_ls .sp_gd{
    float: left;
    width: 54px;
    height: 24px;
    border: 1px solid gray;
    background:#ffffff;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 60px;
}
.sp_gd .a4{
    float: left;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    margin-left: 10px;
    text-align: center;
    line-height: 24px;
}
.sp_gd .a5{
    float: left;
    width: 13px;
    height: 18px;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png)-473px -211px no-repeat;
/*
    margin-left: 10px;
    margin-top: 7px;
*/
}
.sp_gd:hover{
    background: #b9b6b6;
}
.b4_lx{
    overflow: hidden; 
    width: 900px;
}
.b4_lx a{
    float:left;
    width: 160px;
    height: 150px;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 30px; 
}
.b4_lx a img{
    margin-bottom: 2px;
    border-radius: 5px;
/*
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
*/
}
.b4_lx a .aa{
    color: #000000;
    font-size: 14px;
/*    margin-bottom: 20px;*/
/*    text-decoration: none;*/
}
.b4_lx a .aa:hover{
    color: blue;
}
.b4_r{
    float: right;
    width: 272px;
}
.b4_rs{
    overflow: hidden;
}
.b4_rs a{
    float: left;
    color: #000000;
    margin-right: 20px;
    text-decoration: none;
    font-size: 12px;
    margin-top: 65px;
}
.b4_rs a:hover{
    color: blue;
}
.b4_r .b4_rz{
    overflow: hidden;
}
.b4_r .b4_rz img{
    float: right;
    border-radius: 5px;
    margin-top:30px;
    width: 272px;
    height:235px;
}
.b4_r .b4_rx{
    overflow: hidden;
}
.b4_r .b4_rx .axj{
    float: left;
    margin-top: 30px;
}
.b4_r .b4_rx .axsp{
    float: right;
    margin-top: 30px;
}
.box_5{
    overflow: hidden;
}
.box_5 img{
    width:1200px;
    height:96px;
    float:left;
    margin-left:20px;
}


.clear:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom:1;
}
.b6_l{
    float: left
}
.b6_ls{
    
}
.dhtu{
    float: left;
    width:43px ;
    height:35px ;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png) -136px -654px no-repeat;
    margin-top:50px;
    margin-left:20px;
}
.donghua{
    float: left;
    color: #000000;
    font-weight: 700;
    font-size:24px;
    font-family: "宋体";
    margin-left:15px ;
    margin-top:60px ;
    text-decoration: none;
}
.donghua:hover{
    color: blue;
}
.sp_dongtai{
    float: left;
    color: blue;
    font-size: 12px;
    margin-left:30px;
    margin-top: 70px;
}
.tougao{
    float: left;
    color: #000000;
    font-size: 12px;
    margin-left:30px;
    margin-top: 70px;
    text-decoration: none;
}
.tougao:hover{
    color: blue;
}
.sp_ttt{
    float: left;
    width:17px ;
    height:18px ;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png)-662px -1109px no-repeat;
    margin-top:65px;
    margin-left: 30px;
}
.b1{
    float: left;
    color: gray;
    font-size: 12px;
    margin-left:10px;
    margin-top: 70px;
    text-decoration: none;
}
.b1:hover{
    color: blue;
}
.dongtai{
    float: left;
    width: 130px;
    height: 24px;
    border: 1px solid gray;
    background:#ffffff;
    border-radius: 5px;
    margin-left: 180px;
    margin-top: 60px;
}
.dongtai:hover{
    background: #c7c1c1;
}
.dongtai .b2{
    float: left;
    width: 13px;
    height: 13px;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png)-474px -89px no-repeat;
    margin-left: 10px;
    margin-top: 7px;
}
.dongtai .b3{
    float: left;
    height: 24px;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    margin-left: 10px;
    text-align: center;
    line-height: 24px;
}
.gengduo{
    float: left;
    width: 54px;
    height: 24px;
    border: 1px solid gray;
    background:#ffffff;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 60px;
}
.gengduo:hover{
    background: #c7c1c1;
}
.gengduo .b4{
    float: left;
    height: 24px;
    font-size: 12px;
    color: #000000;
    text-decoration: none;
    margin-left:10px;
    text-align: center;
    line-height: 24px;
}
.gengduo .b5{
    float: left;
    width: 13px;
    height: 18px;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png)-473px -211px no-repeat;
}
.b6_lx{
    width: 900px;
}
.b6_lx a{
    float:left;
    width: 160px;
    height: 150px;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 30px; 
}
.b6_lx a img{
    margin-bottom: 2px;
    border-radius: 5px;
/*
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
*/
}
.b6_lx a .aa{
    color: #000000;
    font-size: 14px;
/*    margin-bottom: 20px;*/
/*    text-decoration: none;*/
}
.b6_lx a .aa:hover{
    color: blue;
}
.b6_r{
    float: right;
    width: 272px;
}
.paihang{
    float: left;
    color: #000000;
    font-size: 24px;
    font-family: "宋体";
/*    font-weight: 700;*/
    margin-top: 60px;
}
.b6_rs a{
    float: left;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    margin-left: 20px;
    margin-top: 70px;
}
.b6_rs a:hover{
    color: blue;
}
.xlcd{
    border: 1px solid gray;
    border-radius: 5px;
    height: 22px;
    margin-top: 62px;
    float: right;
}
.xlcd:focus{
    outline:none;
}
.b6_rz{
    width: 272px;
    margin-top:23px;
}
.b6_rz div{
    float: left;
    margin-bottom: 20px;
}
/*
.b6_rz .d1{
    margin-top: 32px;
}
*/
/*
.b6_rz a{
    font-size: 12px;
    color: #000000;
    
}
.b6_rz a:hover{
    color: blue !important;
}
*/
.b6_rz .x{
    color: #ffffff;
    font-size: 12px;
    background: pink;
    padding: 3px 5px;
    border-radius: 5px;
    float: left;
}
.b6_rz .d1 img{
    width: 80px;
    height: 50px;
    margin-left: 10px;
    margin-top: 1px;
    float: left;
}
.b6_rz .zw{
    font-size: 12px;
    color: #000000;
    float: left;
    margin-left: 20px;
}
.b6_rz .xx{
    color: #ffffff;
    font-size: 12px;
    background: gray;
    padding: 3px 5px;
    border-radius: 5px;
    float: left;
}
.b6_rz .zw:hover{
    color: blue;
}
.b6_rx{
    border: 1px solid gray;
    border: none;
    border-radius: 5px;
    background:#e6dfdf;
    width:272px;
    height: 24px;
    margin-top: 3px;
    text-align: center;
}
.b6_rx:hover{
    background: #c9c3c3;
}
.b6_rx .ckgd{
    color: #000000;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
/*    display: block;*/
    
    text-decoration: none;
/*    float: left;*/
    text-align: center;
    float: left;
/*    margin: 0 auto;*/
    margin-left: 105px;
    
}
.b6_rx .dyh{
    float: left;
    width: 13px;
    height: 18px;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png)-473px -211px no-repeat;
}
.b7_l{
    float: left;
}
.b7_ls{
    margin-bottom: 30px;
}
.b7_ls .fanjutu{
    float: left;
    width:47px ;
    height:43px ;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png)-136px -136px  no-repeat;
    margin-top: 20px;
    margin-left: 20px;
}
.b7_ls .fanju{
    float: left;
    color: #000000;
    font-size: 24px;
    font-family: "宋体";
    font-weight: 700;
    margin-top: 37px;
    margin-left: 15px;
    text-decoration: none;
}
.b7_ls .fanju:hover{
    color: blue;
}
.b7_ls .date{
    float: left;
    color: #000000;
    font-size: 20px;
    font-family: "宋体";
    text-decoration: none;
    margin-top: 40px;
    margin-left: 45px;
}
.b7_ls .date:hover{
    color: blue;
}
.b7_ls_box{
    float: left;
    width: 104px;
    height: 36px;
    border: 1px solid pink;
    border-radius: 4px;
    margin-top: 25px;
    margin-left: 123px;
    background: #ffffff;
}
.b7_ls_box:hover{
    background: pink;
}
.b7_ls_box .time{
    float: left;
    color: pink;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    margin-left: 10px;
}
.b7_ls_box .time:hover{
    color: #ffffff;
}
.b7_ls_box .go{
    float: left;
    width: 13px;
    height: 18px;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png)-473px -211px no-repeat;
    margin-top: 5px;
}
.b7_lx{
    width: 900px;
    height:340px;
    overflow:auto;
}
.b7_lx .b7_lx_box{
    float: left;
    width: 178px;
    height: 72px;
    padding-right: 70px;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-top: 20px;
    
}
.b7_lx .b7_lx_box a{
    float: left;
    text-decoration: none;
/*    display: block;*/
}
.b7_lx .b7_lx_box_rs{
    float: left;
    color: #000000;
    font-size: 14px;
    margin-top: -10px;
    margin-left: 10px;
}
.b7_lx .b7_lx_box_rs:hover{
    color: blue;
}
.b7_lx .b7_lx_box span{
/*    display: block;*/
    float: left;
    font-size:14px;
    color: gray;
    margin-left: 10px;
    margin-top: 45px;
    
}
.b7_lx .b7_lx_box_bj{
    float: left;
    color: #ffffff;
    font-size: 14px;
    background: pink;
    padding: 2px 4px;
    margin-top: 43px;
    margin-left: 20px;
    border-radius: 7px;  
}
.b7_r{
    float: right;
    width: 272px;
}
.b7_r .paihang{
    float: left;
    color: #000000;
    font-size: 24px;
    font-family: "宋体";
/*    font-weight: 700;*/
    margin-top: 45px;
}
.xlcd{
    border: 1px solid gray;
    border-radius: 5px;
    height: 22px;
    margin-top: 47px;
    float: right;
}
.xlcd:focus{
    outline:none;
}
.b7_rz{
    width: 272px;
    margin-top:23px;
}
.b7_rz div{
    float: left;
    margin-bottom: 15px;
}
.b7_rz .x{
    color: #ffffff;
    font-size: 12px;
    background: pink;
    padding: 3px 5px;
    border-radius: 5px;
    float: left;
}
.b7_rz .xx{
    color: #ffffff;
    font-size: 12px;
    background: gray;
    padding: 3px 5px;
    border-radius: 5px;
    float: left;
}
.b7_rz .zw{
    font-size: 12px;
    color: #000000;
    float: left;
    margin-left: 20px;
}
.b7_rz .zw:hover{
    color: blue;
}
.b7_rx{
    border: 1px solid gray;
    border: none;
    border-radius: 5px;
    background:#e6dfdf;
    width:272px;
    height: 24px;
    margin-top: 3px;
    text-align: center;
}
.b7_rx:hover{
    background: #c9c3c3;
}
.b7_rx .ckgd{
    color: #000000;
    font-size: 12px;
    height: 24px;
    line-height: 24px;    
    text-decoration: none;
    text-align: center;
    float: left;
    margin-left: 105px;
}
.b7_rx .dyh{
    float: left;
    width: 13px;
    height: 18px;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png)-473px -211px no-repeat;
}
.footer{
    width: 100%;
    background: #e5e0e0;
    margin-top: 20px;
/*    overflow: hidden;*/
}
.ft_box{
    width: 1200px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
}
.footer .ft_sleft{
    float: left;
    padding:0 20px;
}
.footer .ft_sleft:after{
    content: "";
    display: block;
    width: 0;
    height: 120px;
    border: 1px solid #c6c3c3;
    float: right;
    margin-top: -80px;
    margin-left: 30px;
}
.footer .ft_sleft .blbl{
    color: gray;
    font-size: 12px;
/*    margin-left: 20px;*/
/*    float: left*/
}
.footer .ft_sleft div{
    margin-top: 20px;
    margin-right: 40px;
}
.footer .ft_sleft a{
    color: #000000;
/*    display: block;*/
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
    float: left;
    width: 100px;
    height: 14px;
}
.footer .ft_sleft a:hover{
    color: blue;
}
.footer .ft_smid{
    float: left;
    margin-left: 30px;
    padding: 0 20px;
}
.footer .ft_smid:after{
    content: "";
    display: block;
    width: 0;
    height: 120px;
    border: 1px solid #c6c3c3;
    float: right;
    margin-top: -120px;
    margin-left: 20px;
}
.footer .ft_smid div{
    margin-top: 20px;
}
.footer .ft_smid .csm{
    color: gray;
    font-size: 12px;
}
.footer .ft_smid a{
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
    float: left;
    width: 100px;
    height: 14px;
}
.footer .ft_smid a:hover{
    color: blue;
}
.footer .ft_sright{
    float: left;
    padding: 0 20px;
    margin-left: 30px;
}
.footer .ft_sright .ft_sr_box{
    width: 280px;
    height: 80px;
    float: left;  
    margin-top: 20px;
}
.ft_sright .ft_sr_box a{
    float: left;
    width: 90px;
    height:90px;
    text-decoration: none;
}
.ft_sright .ft_sr_box .sjxzt{
    width:63px ;
    height:63px ;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png)-1022px -191px  no-repeat;
    margin-bottom: 10px;
}
.ft_sright .ft_sr_box .xlwbt{
    width:63px ;
    height:63px ;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png)-1022px -320px  no-repeat;
    margin-bottom: 10px;
}
.ft_sright .ft_sr_box .gfwxt{
    width:63px ;
    height:63px ;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png)-1022px -62px  no-repeat;
    margin-bottom: 10px;
}
.ft_sright .ft_sr_box .hhh{
    color: #000000;
    font-size: 14px;
}
.ft_sright .ft_sr_box .hhh:hover{
    color: blue;
}
.footer .ft_xia{
    padding: 20px;
    margin-top: 30px;
}
.footer .ft_xia .ft_xl{
    float: left;
    width: 100px;
}
.footer .ft_xia .ft_xlst{
    width: 95px;
    height: 31px;
    background: url(../images/jw.png) 0 0 no-repeat;
}
.footer .ft_xia .ft_xlxt{
    width: 95px;
    height: 40px;
    background: url(../images/jw.png) 0 -35px no-repeat;
}
.footer .ft_xia .ft_xr{
    float: left;
    margin-left: 20px;
    width: 1000px;
}
.ft_xia .ft_xr .xr1{
    color: gray;
    font-size: 12px;
/*    height: 12px;*/
    line-height:20px;
    padding-bottom: 8px;
}
.ft_xia .ft_xr .xr2{
/*    padding-top: 10px;*/
    padding-bottom: 5px;
}
.ft_xia .ft_xr .xr2 a{
    float: left;
    color: gray;
    font-size: 14px;
    margin-right: 5px;
    text-decoration: none;
}
.ft_xia .ft_xr .xr2 a:hover{
    color: blue;
}
.ft_xr .xr2 .lvkt{
    float: left;
    width:19px ;
    height:15px ;
    background: url(../images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20170717103606.png)-1366px -88px  no-repeat;
}
.ft_xr .xr2 .jinghuit{
    float: left;
    width:19px ;
    height:19px ;
    background: url(../images/beiantubiao.png)0 -1px no-repeat;
}

.ft_xia .ft_xr .xr3 a{
    color: gray;
    font-size: 14px;
    margin-right: 5px;
    text-decoration: none;
}
.ft_xia .ft_xr .xr3 a:hover{
    color: blue;
}











































